*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

body{
    background-color: rgb(152, 193, 217);
    color: rgb(41, 50, 65);
    font-family: sans-serif;
    min-height: 100vh;
}

header, form{
    min-height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

header{
    font-size: 1.5rem;
}


form{
    padding: 0.5rem;
    font-size: 2rem;
}

form button{
    cursor: pointer;
    outline:none;
    transition: all 0.4s;
    color: rgb(61, 90, 128);
}

form button:hover{
    color: rgb(152, 193, 217);
}

form input,
form button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background-color: white;
}




.to-do-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.to-do-list{
    min-width: 35%;
    list-style: none;
}

.to-do-box{
    margin: 0.5rem;
    font-size: 1.8rem;
    border: none;
    background: white;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.to-do-item{
    padding: 0.5rem;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}


.delete-button,
.complete-button{
    padding: 0.5rem;
    font-size: 1.5rem;
    border: none;
    outline:none;
    background-color: white;
    cursor: pointer;
    transition: all 0.4s;
    color: rgb(61, 90, 128);
}

.delete-button:hover{
    color: rgb(214, 84, 61);
}

.complete-button:hover{
    color: rgb(79, 173, 67);
}


.fa-minus-circle,
.fa-arrow-circle-right{
    pointer-events: none;
}


.completed{
    text-decoration: line-through;
    opacity: 0.5;
}