*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

body{
    background-color: rgb(152, 193, 217);
    color: rgb(41, 50, 65);
    font-family: sans-serif;
    min-height: 100vh;
}

header, form{
    min-height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

header{
    font-size: 1.5rem;
}


/* FORM STYLES */
form{
    padding: 0.5rem;
    font-size: 2rem;
}

form button{
    cursor: pointer;
    outline:none;
    transition: all 0.4s;
    color: rgb(61, 90, 128);
}

form button:hover{
    color: rgb(152, 193, 217);
}

form input,
form button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    outline:none;
    background-color: white;
}

/* PRIORITY BUTTONS STYLES */
.low-button,
.medium-button,
.high-button{
    display: inline-block;
    padding: 0.5rem;
    font-size: 1.7rem;
    border: none;
    outline:none;
    background-color: white;
    cursor: pointer;
    transition: all 0.4s;
    color: rgb(61, 90, 128);
}

.low-button:hover{
    color: rgb(42, 148, 26);
}

.medium-button:hover{
    color: rgb(230, 199, 28);
}

.high-button:hover{
    color: rgb(197, 43, 22);
}

.priority-button{
    text-align: center;
}


/* TO DO CONTAINER/LIST STYLES */
.to-do-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.to-do-list{
    min-width: 30%;
    list-style: none;
}


/* TO DO ELEMENTS STYLES */
.to-do-box{
    margin: 0.5rem;
    font-size: 1.8rem;

    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;

    transition: all 0.4s ease;
    border-left: solid;
    border-left-width: 6px;
}

.low{
    border-left-color: rgb(42, 148, 26);
}

.medium{
    border-left-color: rgb(230, 199, 28);
}

.high{
    border-left-color: rgb(197, 43, 22);
}

.to-do-item{
    padding: 0.5rem;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}


/* BUTTONS STYLES */
.delete-button,
.complete-button,
.priority-button{
    padding: 0.5rem;
    font-size: 1.7rem;
    border: none;
    outline:none;
    background-color: white;
    cursor: pointer;
    transition: all 0.4s;
    color: rgb(61, 90, 128);
}

.delete-button:hover{
    color: rgb(197, 43, 22);
}

.complete-button:hover{
    color: rgb(42, 148, 26);
}

.priority-button:hover{
    color: rgb(230, 199, 28);
}


/* ICONS STYLES */
.fa-minus-circle,
.fa-check-circle,
.fa-layer-group{
    pointer-events: none;
}


/* DONE TASK STYLES */
.completed{
    text-decoration: line-through;
    opacity: 0.6;
}


/* DELETED TASK STYLES */
.deleted{
    transform: translateX(3rem);
    opacity: 0;
}

/* FILTERING STYLES */